form
  background background-grey
  padding 20px
  label
    width 100%
    input
      float right
      width 80%
      margin-right 10px
  .div-form-control
    text-align right
    padding 10px
    span
      margin-right 10px
    input
      font-size 0.8em
      color white
      background app-blue