table.table-holdings
  
  border 1px solid grey
  border-radius 4px
  border-spacing 0 !important
  border-collapse inherit !important
  width 100%
  thead
    background background-dark-grey
    color text-grey

  tbody
    background background-grey
    color light-text-grey

  td
    padding 20px
  th
    cursor pointer
    text-align left
    font-size 0.7em
    padding 10px
  .blue
    color app-blue